---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

.sidebar {

    @include breakpoint($large) {
        float: inline-start;
        width: calc(#{$right-sidebar-width-narrow} - 1em);
        opacity: 1;
        // -webkit-transition: opacity 0.2s ease-in-out;
        // transition: opacity 0.2s ease-in-out;
    
        &:hover {
          opacity: 1;
        }
    
        &.sticky {
          overflow-y: auto;
          /* calculate height of nav list
             viewport height - nav height - masthead x-padding
          */
          max-height: calc(100vh - #{$nav-height} - 2em);
        }
      }

}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials